name: on_beat
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.1.0
  flutter_animate: ^4.2.0
  cupertino_icons: ^1.0.8
  camera: ^0.10.5
  tflite_flutter: ^0.10.1
  path_provider: ^2.1.1
  path: ^1.8.3
  fl_chart: ^0.60.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/intro_animation.gif
    - assets/posenet_mv1_075_float_from_checkpoints.tflite
